h1 {
  text-align: center;
  margin: 24px;
}
div {
  margin: auto;
  color: rgb(184, 94, 94);
  width: 500;
  height: 100px;
}
body {
  background-color: rgb(240, 233, 223);
}
.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
button {
  background-color: rgb(240, 233, 223);
  text-align: right;
}
