.topnav {
  background-color: #42120e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff0d3;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-family: "neulis-neue";
  font-size: 18px;
  font-weight: 700;
}