@import url("https://use.typekit.net/pxi1xil.css");
@import "@/styles/style.css";
@import "@/styles/modify.css";
@import "@/styles/swiper-bundle.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  min-width: 1600px;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

p {
  color: #121212;
  margin-block: 1em;
  font-size: 22px;
  line-height: 1.7;
}