body {
  background: #fffef0;
}
.headerContent {
  width: 1380px;
  margin: 0 auto;
  padding: 105px 0 0 0;
}
.subTab {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.subTab .inner {
    position: relative;
}
.subTab .inner .tabLink {
    display: flex;
}
.subTab .inner .tabLink .tab {
    font-family: "Sandoll GyeokdongGL2";
    display: block;
    height: 100%;
    font-size: 22px;
    padding: 0 42px;
    color: #873635;
    line-height: 1;
    text-decoration: none;
}
.subTab .inner .tabLink .tab.on {
  font-weight: 600;
}
.subTab .inner .tabLink .tab ~ .tab {
  border-left: 2px solid #873635;
  }
.content{
  width: 1380px;
  margin: 0 auto;
  padding: 0 0 1380px 0;
}
.brandArea{
  text-align: center;
}
.brandArea .brandTitle1 {
  margin-bottom: 20px;
}
.brandArea .brandimg {
  margin-bottom: 100px;
}
.brandArea .brandTitle2 {
  margin-bottom: 40px;
}
.brandArea .brandText1 {
  margin-bottom: 80px;
}
.brandArea .brandTitle3 {
  margin-bottom: 30px;
}
.brandArea .brandCore {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 45px;
}
.item1.active {
  transition-delay: 0s;
}
.item2.active {
  transition-delay: 0.2s;
}
.item3.active {
  transition-delay: 0.4s;
}
.brandArea .brandText {
  margin-bottom: 80px;
  text-align: left;
  justify-self: center;
}
.brandArea .brandText .item ~ .item {
  margin-top: 18px;
}
.brandArea .brandTitle4 {
  margin-bottom: 45px;
}
.brandArea .brandTag {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.brandTitle1.active { transition-delay: 0s; }
.brandimg.active { transition-delay: 0.1s; }
.brandTitle2.active { transition-delay: 0.2s; }
.brandText1.active { transition-delay: 0.3s; }
.brandTitle3.active { transition-delay: 0.4s; }
.brandCore .item1.active { transition-delay: 0.5s; }
.brandCore .item2.active { transition-delay: 0.6s; }
.brandCore .item3.active { transition-delay: 0.7s; }
.brandText .item1.active { transition-delay: 0.8s; }
.brandText .item2.active { transition-delay: 0.9s; }
.brandText .item3.active { transition-delay: 1s; }
.brandTitle4.active { transition-delay: 1.1s; }
.brandTag .item1.active { transition-delay: 1.2s; }
.brandTag .item2.active { transition-delay: 1.3s; }
.brandTag .item3.active { transition-delay: 1.4s; }


@media only screen and (min-width: 1024px) {
  .motion {
    opacity: 0;
    transform: translate(0, 100px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .motion.active {
    opacity: 1;
    transform: translate(0, 0);
  }
}